---
export interface Props {
    link: string;
    name: string;
    description: string;
}

const { link, name, description } = Astro.props;
---

<a
    class="group flex justify-between items-center border-b border-border-subtle hover:border-secondary transition-colors py-2"
    href={link}
    target="_blank"
    rel="noopener"
>
    <span
        class="font-body-md text-primary text-[17px] group-hover:text-secondary transition-colors"
        >{name}</span
    >
    <span class="font-label-mono text-[12px] text-text-secondary lowercase"
        >{description}</span
    >
</a>
